header .navbar .navbar-brand.logo img {
    height: 5rem;
}
footer.bg-light.o_footer {
    color: #fff;
    background-color: #424242 !important;
}
.footer-decoration{
	height: 87px;
    background: #3d3d3d url(/alnwisher_website/static/images/footer_decoration.png) no-repeat center -40px;
    background-size: cover;
}
.footer-copyright {
    overflow: hidden;
    min-height: 50px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0px;
    color: rgba(255,255,255,0.8);
    background-color: rgba(51,51,51,0.08);
}
.footer-copyright .container {
    border-top: 1px solid rgba(255,255,255,.1);
}
.copyright-text {
    display: block;
    padding: 15px 0;
    font-size: 14px;
    color: #bebebe;
}
footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: #bebebe;
    text-decoration: none;
}
footer i.fa {
    color: #ffc107 !important;
}



